{% extends 'mailshot/base.html' %}
{% load static %}
{% block content %}
<div class="list-unstyled ps-0">
    <div class="container">
        <h2>Рассылки</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for mailshot in object_list %}
            <div class="card-body">
                <p class="card-text">{{ mailshot.message.theme }}</p>
                <p class="card-text">{{ mailshot.message.content }}</p>
                {% for recipient in mailshot.recipients.all %}
                <div class="card-body">
                    <li>{{ recipient }}</li>
                </div>
                {% endfor %}
                <p class="card-text">{{ mailshot.status }}</p>
                {% if perms.mailshot.can_stop_mailshot %}
                <a type="button" class="btn btn-outline-primary" href="{% url 'mailshot:stop_mailshot' pk=mailshot.pk %}">Остановить рассылку</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <a type="button" class="btn btn-outline-primary" href="{% url 'mailshot:mailshot_create' %}">Новая рассылка</a>
    </div>
</div>
{% endblock %}
