{% extends 'mailshot/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label>Начало рассылки</label>
                            {{ form.start_mailshot }}
                        </div>
                        <div class="mb-3">
                            <label>Окончание рассылки</label>
                            {{ form.end_mailshot }}
                        </div>
                        <div class="mb-3">
                            <label>Статус</label>
                            {{ form.status }}
                        </div>
                         <div class="mb-3">
                            <label>Сообщение</label>
                            {{ form.message }}
                        </div>
                        <div class="mb-3">
                            <label>Получатели</label>
                            {{ form.recipients }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Сохранить изменения
                        {% else %}
                        Создать рассылку
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}