{% extends 'mailshot/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Список сообщений</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="list-unstyled ps-0">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for message in object_list %}
                    <div class="card-body">
                        <p class="card-text">{{ message.theme }}</p>
                        <p class="card-text">{{ message.content }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a class="btn btn-primary" href="{% url 'mailshot:message_detail' message.pk %}" role="button">Посмотреть</a>
                              <a class="btn btn-primary" href="{% url 'mailshot:message_update' message.pk %}" role="button">Редактировать</a>
                              <a class="btn btn-danger" href="{% url 'mailshot:message_confirm_delete' message.pk %}" role="button">Удалить</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
         </dic>
    </div>
</body>
{% endblock %}