{% extends 'mailshot/base.html' %}
{% block content %}
<div class="list-unstyled ps-0">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for recipient in object_list %}
            <div class="card-body">
                <p class="card-text">{{ recipient.name }}</p>
                <p class="card-text">{{ recipient.email }}</p>
                <p class="card-text">{{ recipient.comment }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{% url 'mailshot:recipient_detail' recipient.pk %}" role="button">Посмотреть</a>
                      <a class="btn btn-primary" href="{% url 'mailshot:recipient_update' recipient.pk %}" role="button">Редактировать</a>
                      <a class="btn btn-danger" href="{% url 'mailshot:recipient_delete' recipient.pk %}" role="button">Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}